%footer
  .container
    .columns
      .column.is-one-third
        .has-text-weight-bold
          = Rails.configuration.x.application_name
          project
        %ul
          %li
            by
            = link_to 'Marion Miclet', 'https://marionmiclet.com'
            and
            = link_to 'Gonçalo Morais', 'https://twitter.com/gnclmorais'
          %li= link_to 'About', '/about'
      .column.is-one-third
        .has-text-weight-bold Contacts
        %ul
          %li
            = render "components/lists/social", extra_classes: "is-size-4"
          %li
            = mail_to Rails.configuration.x.contact_email
      .column
        .has-text-weight-bold Legal
        %ul
          %li= link_to 'Privacy', '/legal/privacy'
          %li= link_to 'Terms', '/legal/terms'
      .column
