%footer
  .container
    .columns
      .column
        .has-text-weight-bold Maps & Rec project
        by
        = link_to 'Gonçalo Morais', 'https://twitter.com/gnclmorais'
        and
        = link_to 'Marion Miclet', 'https://marionmiclet.com'
      .column
      .column
        .has-text-weight-bold Maps
        %ul
          %li
            = link_to 'Découvrir New York en Séries', maps_path
      .column
        .has-text-weight-bold Terms & Policies
        %ul
          %li= link_to 'Privacy', '/legal/privacy'
          %li= link_to 'Terms', '/legal/terms'
