- data = { role: "navigation", aria_label: "main navigation" }

%nav.navbar.navbar-main.is-primary{ data }
  .container{ class: ("is-fluid" if defined? fullscreen)}
    .navbar-brand
      = link_to "/", class: "navbar-item", title: "Home" do
        %span.item-handle.icon
          %i.fas.fa-home
      .navbar-item
        - if content_for?(:breadcrumbs)
          %nav.breadcrumb{ "aria-label": "breadcrumbs" }
            %ul= content_for(:breadcrumbs)
        - else
          All the places in a single place.
    .navbar-menu
      .navbar-end
        .navbar-item
          = link_to Rails.configuration.x.facebook_link, title: "Facebook",
            class: "social-icon is-size-4 has-text-white" do
            %i.fab.fa-facebook-square
          = link_to Rails.configuration.x.instagram_link, title: "Instagram",
            class: "social-icon is-size-4 has-text-white" do
            %i.fab.fa-instagram
          = link_to Rails.configuration.x.twitter_link, title: "Twitter",
            class: "social-icon is-size-4 has-text-white" do
            %i.fab.fa-twitter-square
          = link_to Rails.configuration.x.newsletter_link, title: "Newsletter",
            class: "social-icon is-size-4 has-text-white" do
            %i.fas.fa-envelope-square
        .navbar-item
          - if signed_in?
            = button_to t(".sign_out"), sign_out_path, method: :delete,
              class: "button is-black"
          - else
            = link_to t(".sign_in"), sign_in_path,
              class: "button is-white is-hidden"
