- data = { role: "navigation", aria_label: "main navigation" }

%nav.navbar.navbar-main.is-primary{ data }
  .container{ class: ("is-fluid" if defined? fullscreen)}
    .navbar-brand
      = link_to "/", class: "navbar-item", title: "Home" do
        %span.item-handle.icon
          %i.fas.fa-home
      = link_to 'About the Binge Watching collection', '/about',
        class: "navbar-item"
    .navbar-menu
      .navbar-end
        .navbar-item
          = render "components/lists/social",
            extra_classes: "is-size-4 has-text-white"
        .navbar-item
          - if signed_in?
            = button_to t(".sign_out"), sign_out_path, method: :delete,
              class: "button is-black"
          - else
            = link_to t(".sign_in"), sign_in_path,
              class: "button is-white is-hidden"
