- attributes = { "aria-label": "main navigation", role: "navigation" }

%section.hero.is-info.navigation{ attributes }
  .hero-body
    .container
      %h1.title
        = content_for?(:title) ? content_for(:title) : "Ferret"
        - if signed_in?
          = button_to t(".sign_out"), sign_out_path, method: :delete,
            class: "is-pulled-right"
        - else
          = link_to t(".sign_in"), sign_in_path, class: "is-pulled-right"
      %h2.subtitle
        - if content_for?(:breadcrumbs)
          %nav.breadcrumb{ "aria-label": "breadcrumbs" }
            %ul
              %li= link_to "Home", "/"
              = content_for(:breadcrumbs)
        - else
          All the places in a single place.
