= form_with model: map, local: true do |form|
  - if map.errors.any?
    .content
      .twelve.columns#error-explanation
        %h2
          = pluralize(map.errors.count, "error")
          prohibited this map from being saved:
        %ul
          = list_of map.errors.full_messages do |msg|
            = msg

  .field
    = form.label :name, class: "label"
    .control
      = form.text_field :name, id: :map_name, autofocus: true, class: "input"

  .field
    = form.label :description, class: "label"
    .control
      = form.text_area :description, id: :map_description,
        rows: "2", class: "textarea"

  .field
    .control
      = form.submit "Save map", class: "button is-link"
      - if map.persisted?
        = link_to "Preview", map_path(map), class: "button", target: "_blank"

