.card.card--hover.card--equal-height
  = link_to map_path(map) do
    .card-content
      .content
        %p.title.has-text-link.card__title= map.name
        %p.subtitle= map.description
  - if signed_in?
    %footer.card-footer
      .card-footer-item
        - if map.published?
          .has-text-black
            %i.fas.fa-eye
            &nbsp;
            Public
        - else
          .has-text-grey
            %i.fas.fa-eye-slash
            &nbsp;
            Private
      = link_to 'Edit', edit_map_path(map), class: 'card-footer-item'
      = link_to 'Delete', map_path(map), class: 'card-footer-item',
        method: :delete, data: { confirm: "Are you sure?" }
