.card.card--hover.card--equal-height
  = link_to map_path(map) do
    .card-content
      .content
        %p.title.has-text-link.card__title= map.name
        %p.subtitle= map.description
  - if signed_in?
    %footer.card-footer
      .card-footer-item
        - if map.published?
          .has-text-black
            %i.fa.fa-eye
            &nbsp;
            Public
        - else
          .has-text-grey
            %i.fa.fa-eye-slash
            &nbsp;
            Private
        / .field
        /   %input.switch{ id: "switchExample", type: "checkbox", name: "switchExample" }
        /   %label{ for: "switchExample" }
        /     Private?
      = link_to 'Edit', edit_map_path(map), class: 'card-footer-item'
      = link_to 'Delete', map_path(map), class: 'card-footer-item',
        method: :delete, data: { confirm: "Are you sure?" }

/ .map-box
/   .map-box__body
/     = link_to map_path(map) do
/       %p.title.is-5= map.name
/       %p.subtitle= map.description
/   - if signed_in?
/     %footer.map-box__footer
/       = link_to 'Edit', edit_map_path(map), class: 'button is-link'
/       = link_to 'Destroy', map_path(map), class: 'button is-danger is-outlined',
/         method: :delete, data: { confirm: "Are you sure?" }
