#edit-map.u-fullheight
  %section.hero
    .hero-body
      .container
        %h1.title= @map.name
        %h2.subtitle= @map.description
  .columns.u-fullheight
    .column.is-one-third
      = render "form", map: @map
      %hr
      Currently on the map:
      %v-places-list{ ":map": @map.id, ":places": @map.places.to_json }
    .column.is-one-third
      %v-search-panel{ ":map": @map.id }
    .column.is-one-third.map-column.u-fullheight
      %v-map

= javascript_pack_tag "hello_vue"
= stylesheet_pack_tag "hello_vue"
