#edit-map.u-fullheight
  %section.hero
    .hero-body
      .container
        %h1.title= @map.name
        %h2.subtitle= @map.description
  .columns.u-fullheight
    -#
      .column.is-one-third
        %h1
        = link_to "<", maps_path
        |
        Edit ‘#{@map.name}’ map

        %hr

        .row.v-interactive
          .six.columns
            = render "form", map: @map
            %hr
            Currently on the map:
            %places-list{ map: @map.id }

          .six.columns
            = render "search_place", map_id: @map.id
    .column.is-one-third
      content
    .column.is-one-third
      content
    .column.is-one-third.map-column.u-fullheight
      %v-map

= javascript_pack_tag "hello_vue"
= stylesheet_pack_tag "hello_vue"
