%h1 Maps#index

= link_to "New map >", new_map_path

%hr

- @maps.each do |map|
  %p
    = map.name
    %br
    = map.description
    %br
    = link_to "Show >", map_path(map)
    = link_to "Edit >", edit_map_path(map)
    = link_to "Destroy!", map_path(map), method: :delete,
      data: { confirm: "Are you sure?" }

- if @maps.empty?
  No maps available!
