- content_for :title, @map.name

- content_for :breadcrumbs,
  breadcrumbs([["Maps", maps_path], [@map.name, map_path(@map)]])

%section.section--tall
  .columns.is-gapless.columns--tall
    .column.is-one-third.flex-el.map__places-column
      .column__panel.column__panel--stay.has-background-primary
        .hero.is-primary
          .hero-body
            %h1.title= @map.name
            - unless @map.description.empty?
              %h2.subtitle= @map.description
          - if signed_in?
            .hero-foot
              %nav.tabs.is-right
                .container
                  %ul
                    %li= link_to 'Edit', edit_map_path(@map)
      #places-panel.column__panel.column__panel--grow
        #places-list{ ":map": @map.id,
                      ":places": @map.pins.to_json }
    .column
      .map-wrapper.u-fullheight
        #map{ ":places": @map.pins.to_json }

= javascript_pack_tag "maps_show"
= stylesheet_pack_tag "maps_show"
