- content_for :title, raw(@map.name)

:ruby
  root = @map.book ? [@map.book.name, book_path(@map.book)] : ["Maps", maps_path]
  content_for(
    :breadcrumbs,
    breadcrumbs([root, [@map.name, map_path(@map)]])
  )

:ruby
  style = [
    "background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(#{url_for(@map.cover)})",
    "background-size: cover",
    "background-position: center center"
  ].join(";") if @map.cover.attached?
  klass = "has-background-primary" unless @map.cover.attached?

%section.u-fullheight
  .columns.is-gapless.u-fullheight
    .column.map__left-column.is-one-third.is-hidden-mobile
      .column__panel.column__panel--stay{ style: style, class: klass }
        .hero
          .hero-body
            %h1.title.has-text-white= @map.name
            - unless @map.description.empty?
              %h2.subtitle.has-text-white= @map.description
          - if signed_in?
            .hero-foot
              = link_to 'Edit', edit_map_path(@map), class: "button is-pulled-right"
      #places-panel.column__panel--grow
        #places-list{ ":map": @map.id,
                      ":places": @map.pins.to_json }
    .column.map__right-column.is-two-thirds.is-paddingless.u-fullheight
      .map-wrapper.u-fullheight
        #map{ ":places": @map.pins.to_json }

= javascript_pack_tag "maps_show"
= stylesheet_pack_tag "maps_show"
