%meta{ charset: "utf-8" }
%meta{ content: "width=device-width, initial-scale=1", name: "viewport" }
= display_custom_meta_tags
= csrf_meta_tags
= javascript_pack_tag 'vendor', async: true, defer: true
= javascript_pack_tag 'application', async: true, defer: true
= stylesheet_pack_tag 'application'
