!!!
%html{ lang: "en" }
  %head
    %title= page_title
    = csrf_meta_tags
    = javascript_pack_tag "application", async: true, defer: true
    = stylesheet_pack_tag "application"

  %body
    .fold
      = render "components/navbar"

      %section.section
        .columns
          .column
          .column
            .card
              .card-content
                .content
                  = yield
          .column
    .footer
      = render "components/footer"
