!!!
%html{ lang: "en" }
  %head
    %title Ferret
    = csrf_meta_tags

    = include_gon

    = javascript_pack_tag "application"
    = stylesheet_pack_tag "application"

    -# Moved to edit.html.haml
    =# javascript_pack_tag "hello_vue"
    =# stylesheet_pack_tag "hello_vue"

  %body
    = yield
