!!!
%html{ lang: "en" }
  %head
    %title Ferret
    = csrf_meta_tags

    = include_gon

    = javascript_pack_tag "application"
    = stylesheet_pack_tag "application"

  %body
    = render "components/navbar"
    .body
      = yield
    = render "components/footer"
