!!!
%html{ lang: 'en' }
  %head
    = render 'layouts/head'

  %body
    .fold
      = render 'components/navbar', fullscreen: true
      .fold-content
        = yield

    .footer
      = render 'components/footer'

    = render 'components/state'
