!!!
%html{ lang: "en", class: "has-navbar-fixed-top" }
  %head
    %title Ferret
    = csrf_meta_tags

    = include_gon

    = javascript_pack_tag "application"
    = stylesheet_pack_tag "application"

  %body
    = render "components/navbar"
    = yield
